



body{
    display: flex;
    background-color: blanchedalmond;
    text-align: center;
    margin: 20%;
    justify-content: center;
}

#backbox{
    text-align: center;
    background-color: rgb(250, 248, 248);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
    width: 400px;
}