body{
    background-image: url(Background.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 94%;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    color: aliceblue;
}

#highlightLink{
    background: rgb(188, 188, 218);
    color: rgb(1, 1, 245);
}

.highlight{
    color: rgb(230, 62, 20);
    font-style: oblique;
}